!*.py
!*.sh
.idea
*.ipynb_checkpoints
*.pyc
*.pyo
*.pyd
*.so
*.dylib
*.json
*.csv
**/added_tokens.json
**/config.json
**/merges.txt
**/normalizer.json
**/optimizer.pt
**/preprocessor_config.json
**/pytorch_model.bin
**/rng_state.pth
**/scaler.pt
**/scheduler.pt
**/special_tokens_map.json
**/tokenizer_config.json
**/trainer_state.json
**/training_args.bin
**/vocab.json
**/runs
assets
vad-crdnn-libriparty
venv
venv_pc
**/optimizer.pt
**/pytorch_model.bin
**/rng_state.pth
**/scaler.pt
**/scheduler.pt
**/training_args.bin
mlruns
./models
playground.sh
keys
.env
conversations_2
postgres
*.iml
postgres2/*
out
api_media
api_media/*
workers/out/*
.DS_Store
!words_dict.json
elastic-data/*
venv-*